<nav class="editor-nav fade-in one">
  <ul class="editor-sections">
    <li> <a href="#catalog">Template Catalog</a> </li>
    <li> <%= link_to "Exit", destroy_user_session_path, method: :delete %> </li>
  </ul>
</nav>

<section class="editor-main-area">
</section>
