<!-- Container -->
<section class="container" id="coming">
  <!-- Banner -->
  <section class="banner">
    <i class="arrow-scroll-white"></i>
    <!-- Menu -->
    <nav class="menu">
      <div class="center">
        <ul>
          <li class="first"><a href="#anchor-1" data-trigger>About</a></li>
          <li><a href="#anchor-2" data-trigger>Features</a></li>
          <li><a href="#anchor-3" data-trigger>Support</a></li>
          <li><a href="mailto:jchinojob7@gmail.com">Contact</a></li>
          <li class="signin last">
            <%= link_to "Sign in", user_session_path, class: "button", method: :post %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end Menu -->

    <!-- Header -->
    <header class="header">
      <h1>Create any type of card in seconds.</h1>
      <p class="subtitle">Meisshi is a card editor, just select a template and you are ready to go</p>
      <%= link_to "Try our beta!!", user_session_path, class: "button", method: :post %>
    </header>
    <!-- end Header -->
  </section>
  <!-- end Banner -->

  <!-- Expose -->
  <section class="insert expose" id="anchor-1" data-to-animate>
    <div class="center">
      <figure>
        <%= image_tag("cards.jpg") %>
      </figure>
      <div class="wrap">
        <article class="text">
          <h2>Create emotions in seconds.</h2>
          <p>Meisshi allows you to create, and collect cards made by others, want to create something cool for a friend's birthday in no time? try meisshi.</p>
          <p>Create cards from templates, add text, change typography, add pictures share, it's so easy!</p>
        </article>
      </div>
    </div>
  </section>
  <!-- end Expose -->

  <!-- Features -->
  <section class="insert features" id="anchor-2" data-to-animate>
    <div class="center">
      <article class="text">
        <h2>Meisshi Discover! (Coming soon)</h2>
        <p>Discover new features you can do with your cards!! all this will come in later time after this <strong>beta</strong> version, this is only beta, most of this features are not available...</p>
      </article>
      <div class="features-list">
        <ul class="left">
          <li>
            <span>Search presentation cards of other people (coming soon)</span>
          </li>
          <li>
            <span>Save cards from other people (coming soon)</span>
          </li>
          <li>
            <span>Edit cards (coming soon)</span>
          </li>
          <li>
            <span>Send and save cards from other people instantly! (Coming soon)</span>
          </li>
          <li class="last">
            <span>Save and send from mobile! (coming soon)</span>
          </li>
        </ul>
        <ul class="right">
          <li>
            <span>Visualize your cards on a mobile app (coming soon)<sup>*</sup></span>
          </li>
          <li>
            <span>Search for people of any kind of profession<sup>*</sup></span>
          </li>
          <li>
            <span>Get know on the web! (coming soon)<sup>*</sup></span>
          </li>
          <li>
            <span>Upload your own templates! (coming soon)</span>
          </li>
          <li class="last">
            <span>Other features to comming soon...</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- end Features -->

  <!-- Support -->
  <section class="insert support" id="anchor-3" data-to-animate>
    <div class="center">
      <div class="wrap">
        <article class="text">
          <h2>Support the project</h2>
          <p>Our project needs your support to continue to move forward and achieve its goal.</p>
          <p><strong>Share your discovery</strong> with your family and friends and follow the progress of the project on social networks.</p>
          <ul>
            <li class="first">
              <a href="https://www.facebook.com/sharer/sharer.php?u=http://nullcoder.r14.railsrumble.com" class="button" onclick="ga('send', 'click', 'Facebook', 'Partage-Facebook', 'index.html')";>
                Share on Facebook                                    </a>
            </li>
            <li>or</li>
            <li class="last">
              <a href="https://twitter.com/intent/tweet?url=http://nullcoder.r14.railsrumble.com&amp;text=Create+a+card+in+seconds&amp;" class="button" onclick="ga('send', 'click', 'Twitter', 'Partage-Twitter', 'index.html');">
                Share on Twitter                                    </a>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </section>
  <!-- end Support -->

  <!-- Footer -->
  <footer class="footer">
    <p>&copy;  Meisshi - 2015 - All Rights Reserved</p>
  </footer>
  <!-- end Footer -->
</section>
